body {
    background-color: white;
}

#gameArea{
    margin: 20px auto 20px auto;
    padding: 0px;
    width: 1000px;
    height: 600px;
}

#myCanvas{
    width: 1000px;
    height: 600 px;
    margin: 0px;
    background-color: black;
}

#net {
    height: 600px;
    left: 50%;
    position:absolute;
    border-style: dashed;
    border-color: white;
    margin: 0 auto;
    border-width: 2px;
}